*.csproj.user
.vs
**/bin
**/obj
**/node_modules
**/.vscode
src/Rosvita.App.Server/data/Meshes
src/Rosvita.App.Server/wwwroot/app
src/Rosvita.App.Server/wwwroot/lib
src/Rosvita.App.Server/wwwroot/script
src/Rosvita.App.Server/test_data
src/Rosvita.App.Server/projects
src/Rosvita.App.Server/NodeComponents/dist/
**/dist
*.map
src/packages
src/Rosvita.Server/wwwroot/bundle
src/Rosvita.Server/wwwroot/images
src/Rosvita.FrontEnd/bundle
src/Rosvita.Server/data
src/Rosvita.Server/test_data
.chrome/
catkin/**/build
lua/**/build
